*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  margin: 0;
  line-height: 1.6;
  overflow-x: hidden; }

.svg-icon {
  display: inline-flex; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

h1, h3, h4, h4, h5, h6, p {
  margin: 0; }

img {
  max-width: 100%; }

button {
  outline: none;
  border: none; }

.color-white {
  color: #ffffff; }

.h-100 {
  height: 100%; }

.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Avenir Medium", sans-serif;
  font-weight: 500;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.02em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: opacity .5s;
  opacity: 1; }
  .button.oval {
    border-radius: 100px; }
  .button.pink-color {
    background-color: #ff009e; }
  .button.blue-color {
    background-color: #3E06DE; }
    .button.blue-color:hover {
      background-color: #3E06DE; }
  .button.hover-effect:hover {
    transition: opacity .5s;
    opacity: .8; }

.main-title {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.01em; }

.middle-title {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.01em; }

.middle-description {
  font-family: "Avenir Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em; }

header {
  position: absolute;
  z-index: 15;
  width: 100%;
  padding: 40px 0; }
  header .logo {
    display: inline-flex; }
    header .logo .svg-icon {
      max-width: 180px; }
  header .top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.main-banner {
  background-color: #3e06de;
  position: relative; }
  .main-banner::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 990px;
    left: calc(50% - 545px);
    background-image: url("../img/stroke-main-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .main-banner .main-content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1; }
    .main-banner .main-content .context-block {
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 562px;
      max-width: 560px;
      margin-right: 10px; }
      .main-banner .main-content .context-block .main-title {
        color: #ffffff; }
      .main-banner .main-content .context-block .middle-description {
        color: #ffffff; }
      .main-banner .main-content .context-block .form-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        max-width: 450px; }
        .main-banner .main-content .context-block .form-wrapper .form-all {
          border: none;
          margin: 0;
          background-color: transparent; }
        .main-banner .main-content .context-block .form-wrapper .form-section {
          padding: 32px 36px;
          background-color: #ff33b1;
          border-radius: 10px; }
          .main-banner .main-content .context-block .form-wrapper .form-section .form-header-group {
            padding: 0;
            margin: 0;
            border: none; }
          .main-banner .main-content .context-block .form-wrapper .form-section .form-header {
            font-family: 'itc-avant-garde-gothic-pro', sans-serif;
            font-weight: 700;
            color: #ffffff;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.01em; }
          .main-banner .main-content .context-block .form-wrapper .form-section .form-subHeader {
            margin-bottom: 12px; }
          .main-banner .main-content .context-block .form-wrapper .form-section .form-subHeader,
          .main-banner .main-content .context-block .form-wrapper .form-section .form-label {
            font-family: "Avenir Medium", sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            letter-spacing: 0.01em; }
          .main-banner .main-content .context-block .form-wrapper .form-section .form-textbox {
            font-family: "Avenir Regular", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.01em;
            height: 34px;
            color: #94a3b8;
            padding-left: 10px !important; }
            .main-banner .main-content .context-block .form-wrapper .form-section .form-textbox:focus-visible {
              outline: none; }
            .main-banner .main-content .context-block .form-wrapper .form-section .form-textbox::-webkit-input-placeholder {
              font-size: 16px;
              color: #94a3b8; }
            .main-banner .main-content .context-block .form-wrapper .form-section .form-textbox:-moz-placeholder {
              font-size: 16px;
              color: #94a3b8; }
            .main-banner .main-content .context-block .form-wrapper .form-section .form-textbox::-moz-placeholder {
              font-size: 16px;
              color: #94a3b8; }
            .main-banner .main-content .context-block .form-wrapper .form-section .form-textbox:-ms-input-placeholder {
              font-size: 16px;
              color: #94a3b8; }
            .main-banner .main-content .context-block .form-wrapper .form-section .form-textbox::placeholder {
              font-size: 16px;
              color: #94a3b8; }
          .main-banner .main-content .context-block .form-wrapper .form-section .form-line {
            margin: 0 !important;
            padding: 0; }
            .main-banner .main-content .context-block .form-wrapper .form-section .form-line.little-indent {
              margin-bottom: 10px !important; }
          .main-banner .main-content .context-block .form-wrapper .form-section .form-label-top {
            margin-bottom: 0; }
          .main-banner .main-content .context-block .form-wrapper .form-section .form-line-error {
            background-color: transparent; }
          .main-banner .main-content .context-block .form-wrapper .form-section .form-error-message {
            margin-top: 5px;
            padding: 3px 8px 3px 18px;
            font-size: 12px;
            line-height: 14px; }
          .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 14px; }
            .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-radio-wrapper {
              width: 250px; }
              .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-radio-wrapper .form-label {
                font-family: "Avenir Medium", sans-serif;
                font-weight: 500;
                margin-bottom: 8px; }
              .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-radio-wrapper .form-radio-item {
                display: flex;
                margin-bottom: 8px; }
                .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-radio-wrapper .form-radio-item:last-of-type {
                  margin-bottom: 0; }
                .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-radio-wrapper .form-radio-item label {
                  min-height: initial;
                  font-family: "Avenir Regular", sans-serif;
                  font-size: 14px;
                  line-height: 16px;
                  color: #ffffff;
                  padding-left: 18px; }
                  .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-radio-wrapper .form-radio-item label::before {
                    top: 1px;
                    width: 12px;
                    height: 12px;
                    background-color: transparent;
                    border-color: #ffffff; }
                  .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-radio-wrapper .form-radio-item label::after {
                    width: 8px;
                    height: 8px;
                    top: 3px;
                    left: 2px;
                    background-color: white; }
            .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-input-wide {
              display: flex;
              flex-direction: column;
              align-items: flex-start; }
            .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-buttons-wrapper {
              margin: 0;
              padding: 0;
              border: none; }
            .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-button-wrapper {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              width: initial; }
              .main-banner .main-content .context-block .form-wrapper .form-section .bottom-horizont-section .form-button-wrapper .button {
                min-width: initial;
                margin-left: 0;
                font-family: "Avenir Medium", sans-serif;
                font-weight: 500;
                border: none; }
    .main-banner .main-content .img-block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 60px;
      min-width: 500px; }
      .main-banner .main-content .img-block img {
        margin-bottom: -1px;
        display: block;
        min-height: 100%;
        object-fit: contain;
        object-position: bottom; }
  .main-banner .bottom-arrow-wrapper {
    position: absolute;
    z-index: 20; }
    .main-banner .bottom-arrow-wrapper .title {
      color: #ffffff; }
    .main-banner .bottom-arrow-wrapper .arrow {
      border-color: #ffffff; }

.bottom-arrow-wrapper {
  bottom: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .bottom-arrow-wrapper .bottom-arrow {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .bottom-arrow-wrapper .title {
    text-transform: uppercase;
    font-family: "Avenir Medium", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em; }
  .bottom-arrow-wrapper .arrow {
    margin-top: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-style: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px; }

.benefits {
  position: relative;
  background-color: #FFF5CC;
  padding: 130px 0 170px; }
  .benefits::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 670px;
    height: 420px;
    background-image: url("../img/yellow-top-stroke.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; }
  .benefits::after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 560px;
    height: 420px;
    background-image: url("../img/yellow-bottom-stroke.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; }
  .benefits .content-block {
    position: relative;
    z-index: 15; }
  .benefits .subtitle {
    font-family: "Avenir Black", sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #FF009E;
    text-transform: uppercase;
    margin-bottom: 12px; }
  .benefits .middle-title {
    color: #FF009E;
    margin-bottom: 24px;
    letter-spacing: 0.01em; }
  .benefits .benefits-list .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px; }
    .benefits .benefits-list .list-item:last-of-type {
      margin-bottom: 0; }
    .benefits .benefits-list .list-item .text-side {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      max-width: 410px; }
      .benefits .benefits-list .list-item .text-side .count {
        display: inline-flex;
        font-family: 'itc-avant-garde-gothic-pro', sans-serif;
        font-size: 62px;
        line-height: 70px;
        color: #FF009E;
        font-weight: 700; }
      .benefits .benefits-list .list-item .text-side .description {
        margin-left: 16px;
        font-family: "Avenir Medium", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #0C012C;
        letter-spacing: 0.02em; }
    .benefits .benefits-list .list-item .img-side {
      width: 426px;
      position: relative; }
      .benefits .benefits-list .list-item .img-side.right-arrow::after {
        content: "";
        position: absolute;
        bottom: -54px;
        right: -50px;
        width: 28px;
        height: 80px;
        background-image: url("../img/curved_arrow_to_left.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .benefits .benefits-list .list-item .img-side.left-arrow::after {
        content: "";
        position: absolute;
        bottom: -54px;
        left: -50px;
        width: 28px;
        height: 80px;
        background-image: url("../img/curved_arrow_to_right.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .benefits .benefits-list .list-item .img-side .img-wrapper {
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.05); }
        .benefits .benefits-list .list-item .img-side .img-wrapper img {
          display: flex;
          border-radius: 8px;
          object-fit: initial; }
  .benefits .bottom-arrow-wrapper {
    position: absolute;
    z-index: 15; }
    .benefits .bottom-arrow-wrapper .title {
      color: #FF009E; }
    .benefits .bottom-arrow-wrapper .arrow {
      border-color: #FF009E; }

.about-us {
  padding: 165px 0 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about-us::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FF99D8;
    background-image: url("../img/bg-about-us.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; }
  .about-us .content-block {
    position: relative;
    z-index: 15;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .about-us .middle-title {
    color: #3e06de;
    margin-bottom: 20px; }
  .about-us .subtitle {
    font-family: "Avenir Black", sans-serif;
    letter-spacing: 0.02em;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    color: #0c012c; }
  .about-us .description {
    margin-bottom: 16px;
    font-family: "Avenir Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0c012c;
    letter-spacing: 0.02em; }
    .about-us .description:last-of-type {
      margin-bottom: 0; }
    .about-us .description.blue-color {
      color: #3E06DE;
      font-family: "Avenir Black", sans-serif;
      font-weight: 800; }
    .about-us .description .blue-color {
      color: #3E06DE;
      font-family: "Avenir Black", sans-serif;
      font-weight: 800; }
  .about-us .text-block {
    max-width: 370px; }
  .about-us .top-block {
    margin-bottom: 105px; }
  .about-us .tile-block {
    max-width: 604px; }
    .about-us .tile-block .tile-body {
      margin-bottom: 40px; }
      .about-us .tile-block .tile-body:last-of-type {
        margin-bottom: 0; }
      .about-us .tile-block .tile-body .tile {
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: row; }
        .about-us .tile-block .tile-body .tile .img-wrapper {
          display: flex;
          min-width: 210px; }
          .about-us .tile-block .tile-body .tile .img-wrapper img {
            object-fit: cover; }
        .about-us .tile-block .tile-body .tile .context-block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 32px;
          background-color: #ffffff; }
          .about-us .tile-block .tile-body .tile .context-block .title {
            font-family: "Avenir Black", sans-serif;
            font-weight: 800;
            font-size: 24px;
            line-height: 34px;
            color: #FF009E;
            letter-spacing: 0.01em; }
          .about-us .tile-block .tile-body .tile .context-block .subtitle {
            font-family: "Avenir Black", sans-serif;
            font-weight: 900;
            font-size: 16px;
            line-height: 20px;
            color: #0C012C;
            letter-spacing: 0.02em;
            margin-bottom: 20px; }
          .about-us .tile-block .tile-body .tile .context-block .description {
            font-family: "Avenir Regular", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #0C012C;
            letter-spacing: 0.01em; }

footer {
  padding: 40px 0;
  background-color: #3E06DE; }
  footer .logo {
    width: 160px; }
  footer .bottom-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  footer .mail {
    font-family: "Avenir Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #ffffff; }

/*==========  Desktop First Method  ==========*/
@media only screen and (max-height: 900px) {
  .main-banner .main-content .context-block {
    padding-top: 70px;
    padding-bottom: 60px; }
  .main-banner .main-content .img-block {
    padding-top: 115px; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-banner .main-content .context-block {
    margin-right: 0; }
  .about-us .tile-block {
    max-width: 540px; }
    .about-us .tile-block .tile-body .tile .img-wrapper {
      min-width: 195px; }
  .about-us .text-block {
    max-width: 306px; } }

@media only screen and (max-width: 1100px) {
  .main-banner .main-content .img-block {
    margin-left: -60px; }
  .benefits .benefits-list .list-item .text-side .description {
    font-size: 22px;
    line-height: 32px; }
  .about-us .tile-block {
    max-width: 490px; }
    .about-us .tile-block .tile-body .tile .img-wrapper {
      min-width: 195px; }
  .about-us .text-block {
    max-width: 306px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .logo {
    width: 160px; }
  .main-banner .main-content .context-block {
    min-width: 445px;
    margin-right: 0;
    max-width: 440px; }
    .main-banner .main-content .context-block .main-title {
      font-size: 30px;
      line-height: 40px; }
    .main-banner .main-content .context-block .middle-description {
      font-size: 16px;
      line-height: 24px; }
    .main-banner .main-content .context-block .form-wrapper {
      max-width: 380px; }
      .main-banner .main-content .context-block .form-wrapper .form-section {
        padding: 26px 28px; }
  .main-banner .main-content .img-block {
    min-width: 470px; }
  .benefits .middle-title {
    font-size: 32px;
    line-height: 38px; }
  .benefits .benefits-list .list-item {
    padding-right: 25px;
    margin-bottom: 20px; }
    .benefits .benefits-list .list-item .text-side {
      max-width: 310px; }
      .benefits .benefits-list .list-item .text-side .count {
        font-size: 50px;
        line-height: 58px; }
      .benefits .benefits-list .list-item .text-side .description {
        font-size: 18px;
        line-height: 28px;
        margin-left: 10px; }
    .benefits .benefits-list .list-item .img-side {
      width: 360px; }
      .benefits .benefits-list .list-item .img-side.right-arrow::after {
        right: -30px;
        width: 20px;
        height: 58px;
        bottom: -45px; }
      .benefits .benefits-list .list-item .img-side.left-arrow::after {
        left: -30px;
        width: 20px;
        height: 58px;
        bottom: -45px; }
  .about-us {
    padding: 130px 0 100px; }
    .about-us .content-block {
      flex-direction: column;
      align-items: center; }
    .about-us .middle-title {
      font-size: 32px;
      line-height: 34px; }
    .about-us .tile-block {
      max-width: 600px; }
      .about-us .tile-block .tile-body {
        margin-bottom: 30px; }
        .about-us .tile-block .tile-body .tile .img-wrapper {
          min-width: 195px; }
    .about-us .text-block {
      max-width: 530px; }
      .about-us .text-block .top-block {
        text-align: center;
        margin-bottom: 70px; }
    .about-us .bottom-block {
      text-align: center;
      margin-top: 60px; }
      .about-us .bottom-block .subtitle {
        margin-bottom: 10px; }
    .about-us .desktop {
      display: none; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header {
    padding: 30px 0; }
    header .logo {
      max-width: 160px; }
  .main-banner .main-content .context-block {
    min-width: 385px;
    margin-right: 0; }
    .main-banner .main-content .context-block .form-wrapper {
      max-width: 340px; }
      .main-banner .main-content .context-block .form-wrapper .form-section {
        padding: 20px 22px; }
    .main-banner .main-content .context-block .main-title {
      font-size: 26px;
      line-height: 36px; }
  .main-banner .main-content .img-block {
    margin-left: -30px; }
  .benefits::before {
    width: 460px;
    height: 288px; }
  .benefits::after {
    width: 420px; }
  .benefits .middle-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 40px; }
  .benefits .content-block {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .benefits .benefits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .benefits .benefits-list .list-item {
      max-width: 480px;
      flex-direction: column;
      align-items: flex-start;
      padding-right: 0;
      margin-bottom: 40px; }
      .benefits .benefits-list .list-item .text-side {
        max-width: 100%; }
        .benefits .benefits-list .list-item .text-side .description {
          margin-bottom: 16px; }
      .benefits .benefits-list .list-item .img-side {
        width: 100%; }
        .benefits .benefits-list .list-item .img-side.left-arrow::after, .benefits .benefits-list .list-item .img-side.right-arrow::after {
          width: 0; }
  footer {
    padding: 50px 0; }
    footer .bottom-line {
      flex-direction: column; }
      footer .bottom-line .logo,
      footer .bottom-line .button {
        margin-bottom: 30px; } }

@media only screen and (max-width: 690px) {
  .main-banner .main-content .img-block {
    display: none;
    margin-left: -30px; }
  .main-banner .main-content .context-block {
    min-width: 440px;
    max-width: 445px;
    padding-top: 160px;
    padding-bottom: 120px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .button {
    height: 36px;
    padding: 0 14px;
    font-size: 14px !important; }
  header {
    padding: 20px 0; }
    header .logo {
      position: relative;
      bottom: -3px;
      max-width: 120px; }
  .bottom-arrow-wrapper {
    display: none; }
  .main-banner::after {
    background-image: initial; }
  .main-banner .main-content .context-block {
    padding-top: 0;
    max-width: 100%;
    min-width: 100%;
    padding-bottom: 0; }
    .main-banner .main-content .context-block .main-title {
      max-width: 100%;
      margin-bottom: 8px; }
    .main-banner .main-content .context-block .middle-description {
      font-size: 14px;
      line-height: 20px;
      max-width: 100%; }
    .main-banner .main-content .context-block .top-block {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      max-width: 100%;
      position: relative; }
      .main-banner .main-content .context-block .top-block::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        height: 100%;
        width: 480px;
        left: -60px;
        background-image: url("../img/stroke-main-banner.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .main-banner .main-content .context-block .top-block .text-block {
        min-width: 210px;
        max-width: 450px;
        height: 100%;
        padding-top: 120px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
      .main-banner .main-content .context-block .top-block .img-mobile {
        padding-top: 60px;
        position: relative;
        bottom: -1px;
        width: 240px;
        min-width: 240px;
        right: -10px; }
        .main-banner .main-content .context-block .top-block .img-mobile img {
          position: absolute;
          bottom: 0;
          display: block; }
    .main-banner .main-content .context-block .form-wrapper {
      margin-top: 0;
      position: relative;
      max-width: 420px; }
      .main-banner .main-content .context-block .form-wrapper::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 2000px;
        height: 100%;
        left: -400px;
        background-color: #ff33b1; }
      .main-banner .main-content .context-block .form-wrapper .form-section {
        padding: 36px 0; }
  .benefits {
    padding: 90px 0 120px; }
    .benefits::before {
      width: 380px;
      height: 230px;
      right: -100px; }
    .benefits::after {
      width: 330px;
      height: 250px; }
    .benefits .middle-title {
      font-size: 24px;
      line-height: 28px; }
    .benefits .content-block {
      align-items: flex-start;
      padding: 0 15px; }
    .benefits .benefits-list .list-item {
      max-width: 100%; }
      .benefits .benefits-list .list-item .text-side .count {
        font-size: 38px;
        line-height: 44px; }
      .benefits .benefits-list .list-item .text-side .description {
        font-size: 16px;
        line-height: 20px; }
  .about-us {
    padding: 80px 0; }
    .about-us::before {
      background-image: url("../img/bg-about-us-mobile.png");
      background-position: left; }
    .about-us .middle-title {
      font-size: 20px;
      line-height: 24px; }
    .about-us .description {
      font-size: 14px;
      margin-bottom: 10px; }
    .about-us .content-block {
      align-items: flex-start; }
    .about-us .text-block .top-block {
      text-align: left;
      margin-bottom: 50px; }
    .about-us .tile-block .tile-body .tile .context-block {
      padding: 12px; }
      .about-us .tile-block .tile-body .tile .context-block .title {
        font-size: 20px;
        line-height: 24px; }
      .about-us .tile-block .tile-body .tile .context-block .subtitle {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px; }
    .about-us .tile-block .tile-body .tile .img-wrapper {
      min-width: 165px; }
    .about-us .bottom-block {
      text-align: left; }
      .about-us .bottom-block .subtitle {
        margin-bottom: 8px; }
  footer .logo {
    width: 120px; } }

@media only screen and (max-width: 480px) {
  .main-banner .main-content .context-block .top-block .img-mobile {
    width: 240px;
    right: 0; }
    .main-banner .main-content .context-block .top-block .img-mobile img {
      right: 35px; }
  .main-banner .main-content .context-block .top-block .text-block {
    min-width: 220px; }
  .main-banner .main-content .context-block .middle-description {
    padding-right: 45px; }
  .about-us .tile-block .tile-body .tile {
    flex-direction: column; }
    .about-us .tile-block .tile-body .tile .context-block {
      padding: 16px; }
    .about-us .tile-block .tile-body .tile .img-wrapper {
      height: 320px; }
      .about-us .tile-block .tile-body .tile .img-wrapper img {
        object-fit: cover;
        object-position: top;
        width: 100%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  .benefits .content-block {
    padding: 0; } }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

@media only screen and (min-width: 576px) {
  .img-mobile {
    display: none; }
  .benefits .subtitle {
    display: none; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .container,
  .container-lg,
  .container-xl {
    max-width: 1370px; }
  .about-us .bottom-block.mobile {
    display: none; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

@media only screen and (min-width: 1300px) {
  .benefits .content-block {
    padding: 0 40px; } }

@media (min-width: 1140px) and (min-height: 800px) {
  .main-banner {
    height: 100vh; }
  .benefits {
    height: 100vh;
    padding: 60px 0; }
  .about-us {
    height: 100vh;
    padding: 60px 0; }
  .bottom-arrow-wrapper {
    bottom: 35px; } }
