
@import "vars.sass"



*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here

html
	overflow-x: hidden
	scroll-behavior: smooth

body
	margin: 0
	line-height: 1.6
	overflow-x: hidden
	//background-color: #ffc107

@import "settings"


header
	position: absolute
	z-index: 15
	width: 100%
	padding: 40px 0
	.logo
		display: inline-flex
		.svg-icon
			max-width: 180px
	.top-wrapper
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center

.main-banner
	background-color: $blue-color
	position: relative
	&::after
		content: ""
		position: absolute
		top: 0
		height: 100%
		width: 990px
		left: calc(50% - 545px)
		background-image: url("../img/stroke-main-banner.png")
		background-repeat: no-repeat
		background-position: center
		background-size: cover

	.main-content
		position: relative
		z-index: 10
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-grow: 1
		.context-block
			padding-top: 60px
			display: flex
			flex-direction: column
			justify-content: center
			min-width: 562px
			max-width: 560px
			margin-right: 10px
			.main-title
				color: $white-color
			.middle-description
				color: $white-color
			.form-wrapper
				display: flex
				flex-direction: column
				margin-top: 40px
				max-width: 450px
				.form-all
					border: none
					margin: 0
					background-color: transparent
				.form-section
					padding: 32px 36px
					background-color: rgba(255, 51, 177, 1)
					border-radius: 10px
					.form-header-group
						padding: 0
						margin: 0
						border: none
					.form-header
						font-family: 'itc-avant-garde-gothic-pro', sans-serif
						font-weight: 700
						color: $white-color
						font-size: 24px
						line-height: 28px
						letter-spacing: 0.01em
					.form-subHeader
						margin-bottom: 12px
					.form-subHeader,
					.form-label
						font-family: "Avenir Medium", sans-serif
						font-weight: 500
						font-size: 14px
						line-height: 20px
						color: $white-color
						letter-spacing: 0.01em
					.form-textbox
						font-family: "Avenir Regular", sans-serif
						font-weight: 400
						font-size: 16px
						line-height: 24px
						letter-spacing: 0.01em
						height: 34px
						color: rgba(148, 163, 184, 1)
						padding-left: 10px!important
						&:focus-visible
							outline: none
						&::-webkit-input-placeholder
							font-size: 16px
							color: rgba(148, 163, 184, 1)
						&:-moz-placeholder
							font-size: 16px
							color: rgba(148, 163, 184, 1)
						&::-moz-placeholder
							font-size: 16px
							color: rgba(148, 163, 184, 1)
						&:-ms-input-placeholder
							font-size: 16px
							color: rgba(148, 163, 184, 1)
						&::placeholder
							font-size: 16px
							color: rgba(148, 163, 184, 1)
					.form-line
						margin: 0!important
						padding: 0
						&.little-indent
							margin-bottom: 10px!important
					.form-label-top
						margin-bottom: 0
					.form-line-error
						background-color: transparent
					.form-error-message
						margin-top: 5px
						padding: 3px 8px 3px 18px
						font-size: 12px
						line-height: 14px
					.bottom-horizont-section
						width: 100%
						display: flex
						flex-direction: row
						justify-content: space-between
						margin-top: 14px
						.form-radio-wrapper
							width: 250px
							.form-label
								font-family: "Avenir Medium", sans-serif
								font-weight: 500
								margin-bottom: 8px
							.form-radio-item
								display: flex
								margin-bottom: 8px
								&:last-of-type
									margin-bottom: 0
								label
									min-height: initial
									font-family: "Avenir Regular", sans-serif
									font-size: 14px
									line-height: 16px
									color: $white-color
									padding-left: 18px
									&::before
										top: 1px
										width: 12px
										height: 12px
										background-color: transparent
										border-color: $white-color
									&::after
										width: 8px
										height: 8px
										top: 3px
										left: 2px
										background-color: white
						.form-input-wide
							display: flex
							flex-direction: column
							align-items: flex-start
						.form-buttons-wrapper
							margin: 0
							padding: 0
							border: none
						.form-button-wrapper
							display: flex
							flex-direction: column
							justify-content: flex-end
							width: initial
							.button
								min-width: initial
								margin-left: 0
								font-family: "Avenir Medium", sans-serif
								font-weight: 500
								border: none


		.img-block
			display: flex
			flex-direction: column
			justify-content: flex-end
			padding-top: 60px
			min-width: 500px
			img
				margin-bottom: -1px
				display: block
				min-height: 100%
				object-fit: contain
				object-position: bottom
	.bottom-arrow-wrapper
		position: absolute
		z-index: 20

		.title
			color: $white-color
		.arrow
			border-color: $white-color
.bottom-arrow-wrapper
	bottom: 45px
	width: 100%
	display: flex
	flex-direction: row
	justify-content: center
	.bottom-arrow
		display: flex
		flex-direction: column
		align-items: center
	.title
		text-transform: uppercase
		font-family: "Avenir Medium", sans-serif
		font-weight: 500
		font-size: 12px
		line-height: 14px
		letter-spacing: 0.12em
	.arrow
		margin-top: 4px
		transform: rotate(45deg)
		-webkit-transform: rotate(45deg)
		border-style: solid
		border-width: 0 3px 3px 0
		display: inline-block
		padding: 7px

.benefits
	position: relative
	background-color: #FFF5CC
	padding: 130px 0 170px
	&::before
		content: ""
		position: absolute
		z-index: 10
		top: 0
		right: 0
		width: 670px
		height: 420px
		background-image: url("../img/yellow-top-stroke.png")
		background-repeat: no-repeat
		background-position: bottom
		background-size: cover
	&::after
		content: ""
		position: absolute
		z-index: 10
		bottom: 0
		left: 0
		width: 560px
		height: 420px
		background-image: url("../img/yellow-bottom-stroke.png")
		background-repeat: no-repeat
		background-position: bottom
		background-size: cover
	.content-block
		position: relative
		z-index: 15
	.subtitle
		font-family: "Avenir Black", sans-serif
		font-weight: 800
		font-size: 12px
		color: $violet-color
		text-transform: uppercase
		margin-bottom: 12px
	.middle-title
		color: $violet-color
		margin-bottom: 24px
		letter-spacing: 0.01em
	.benefits-list
		.list-item
			display: flex
			flex-direction: row
			align-items: center
			justify-content: space-between
			margin-bottom: 26px
			&:last-of-type
				margin-bottom: 0
			.text-side
				display: flex
				flex-direction: row
				align-items: flex-start
				max-width: 410px
				.count
					display: inline-flex
					font-family: 'itc-avant-garde-gothic-pro', sans-serif
					font-size: 62px
					line-height: 70px
					color: $violet-color
					font-weight: 700
				.description
					margin-left: 16px
					font-family: "Avenir Medium", sans-serif
					font-weight: 500
					font-size: 24px
					line-height: 34px
					color: #0C012C
					letter-spacing: 0.02em
			.img-side
				width: 426px
				position: relative
				&.right-arrow
					&::after
						content: ""
						position: absolute
						bottom: -54px
						right: -50px
						width: 28px
						height: 80px
						background-image: url("../img/curved_arrow_to_left.png")
						background-repeat: no-repeat
						background-position: center
						background-size: cover
				&.left-arrow
					&::after
						content: ""
						position: absolute
						bottom: -54px
						left: -50px
						width: 28px
						height: 80px
						background-image: url("../img/curved_arrow_to_right.png")
						background-repeat: no-repeat
						background-position: center
						background-size: cover

				.img-wrapper
					box-shadow:  0px 4px 6px -1px rgba(0, 0, 0, 0.05)
					img
						display: flex
						border-radius: 8px
						object-fit: initial

	.bottom-arrow-wrapper
		position: absolute
		z-index: 15
		.title
			color: $violet-color
		.arrow
			border-color: $violet-color

.about-us
	padding: 165px 0 180px
	position: relative
	display: flex
	flex-direction: column
	justify-content: center
	&::before
		content: ""
		position: absolute
		z-index: 10
		top: 0
		right: 0
		width: 100%
		height: 100%
		background-color: #FF99D8
		background-image: url("../img/bg-about-us.png")
		background-repeat: no-repeat
		background-position: bottom
		background-size: cover
	.content-block
		position: relative
		z-index: 15
		display: flex
		flex-direction: row
		justify-content: space-between
	.middle-title
		color: rgba(62, 6, 222, 1)
		margin-bottom: 20px
	.subtitle
		font-family: "Avenir Black", sans-serif
		letter-spacing: 0.02em
		font-weight: 800
		font-size: 16px
		line-height: 20px
		margin-bottom: 4px
		color: rgba(12, 1, 44, 1)
	.description
		margin-bottom: 16px
		font-family: "Avenir Medium", sans-serif
		font-weight: 500
		font-size: 16px
		line-height: 20px
		color: rgba(12, 1, 44, 1)
		letter-spacing: 0.02em
		&:last-of-type
			margin-bottom: 0
		&.blue-color
			color: #3E06DE
			font-family: "Avenir Black", sans-serif
			font-weight: 800
		.blue-color
			color: #3E06DE
			font-family: "Avenir Black", sans-serif
			font-weight: 800
	.text-block
		max-width: 370px
	.top-block
		margin-bottom: 105px
	.tile-block
		max-width: 604px
		.tile-body
			margin-bottom: 40px
			&:last-of-type
				margin-bottom: 0
			.tile
				border-radius: 10px
				overflow: hidden
				display: flex
				flex-direction: row
				.img-wrapper
					display: flex
					min-width: 210px
					img
						object-fit: cover
				.context-block
					display: flex
					flex-direction: column
					align-items: flex-start
					justify-content: center
					padding: 32px
					background-color: $white-color
					.title
						font-family: "Avenir Black", sans-serif
						font-weight: 800
						font-size: 24px
						line-height: 34px
						color: #FF009E
						letter-spacing: 0.01em
					.subtitle
						font-family: "Avenir Black", sans-serif
						font-weight: 900
						font-size: 16px
						line-height: 20px
						color: #0C012C
						letter-spacing: 0.02em
						margin-bottom: 20px
					.description
						font-family: "Avenir Regular", sans-serif
						font-weight: 400
						font-size: 14px
						line-height: 20px
						color: #0C012C
						letter-spacing: 0.01em

footer
	padding: 40px 0
	background-color: #3E06DE
	.logo
		width: 160px
	.bottom-line
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
	.mail
		font-family: "Avenir Medium", sans-serif
		font-weight: 500
		font-size: 16px
		line-height: 24px
		letter-spacing: 0.01em
		color: $white-color

//ALWAYS END
@import "media"
